.navbar{
    display: flex;
    background-color: rgb(236, 236, 236);
    justify-content: space-around;
    align-items: center;
    box-shadow: inset;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}
.navbar h2{
    color: blue;
}
.navbar a {
    color: #000000;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: #f9f9f9;
    background-color: #3a3a3a;
    padding: 10px 15px;
    border-radius: 10px;
}

.navbar .cart-count {
    background-color: #86bcff;
    border-radius: 50%;
    padding: 0.2rem 0.6rem;
    font-size: 0.9rem;
    color: #000000;
    margin-left: 0.5rem;
}

